@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* "Courier Prime", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap'); /* "Teko", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap'); /* "Libre Franklin", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap'); /* "Chivo", sans-serif; */


/* configurações gerais */

/* figma: https://www.figma.com/design/gfH7LrLTsD0KU2LVMsHG7v/Main-Page?node-id=1-2&t=0DiuPUsIcKhWctPU-0 */

:root {
    --color-background-main: #1D0A2E;
    --color-background-section: #161616;
    --color-background-muted: #0000004c;
    --color-text: #e1e1e1;
    --color-text-muted: #e1e1e1ae;
    --color-background-alt: #3e1f65;

    --color-logo: #56009c;
    --color-logo-highlight: #8330c8;
    --color-button: #510094;
    --font-title: "Chivo", sans-serif;
    --font-subtitle: "Teko", sans-serif;
    --font-text: "Libre Franklin", sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: var(--color-background-main);
    color: var(--color-text);
    font-family: var(--font-text);
}

i {
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: white;
}

hr {
    width: 150px;
    margin: auto;
}

.titulo-secao {
    font-family: var(--font-subtitle);
    color: var(--color-text);
    font-size: 2.5em;
}

/* HEADER */

header {
    background-color: black;
    /* box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.145); */
    padding-top: 0.5em;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1em;
}

header:hover {
    box-shadow: 0px 4px 1em rgba(255, 255, 255, 0.101);
    transition: 0.3s all;
}

/* configurações para a logo e o ícone do menu */

menu { 
    width: 90%;
    margin-bottom: 0.5em; /* dimimuir ao ampliar o menu */
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* justify-content: space-between; - adicionar ao configurar JS! */
    justify-content: center;
    /* gap: 14px; */
}


.header__logo {
    color: var(--color-logo);
}

.header__logo:hover {
    color: var(--color-logo-highlight);
    transition: 0.3s all ease-in-out;
}

.header__titulo {
    font-family: var(--font-title);
    font-size: 1.7em;
    color: var(--color-text);

    display: inline;
}

.header__titulo:hover {
    color: white;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
}

.header__icone-menu {
    color: var(--color-text);
    background: none;
    border: none;
    width: 1em;

    display: none; /* retirar ao configurar JS! */
}

.header__icone-menu:hover {
    color: white;
    transform: scale(1.05);
    filter: drop-shadow(1px 1px 10px white);
    transition: 0.2s 0s all ease-in;
    
}  

/* configurações dos links para navegação na página */

nav {
    width: 100%;
    /* display: none; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.header__links-item {
    border-top: 1px solid var(--color-text);
    width: 100%;
    text-align: center;
    padding: 10px;
}

.header__links-item:hover {
    background-color: var(--color-background-alt);
    transform: scale(1.1);
    box-shadow: 0px 4px 1em rgba(255, 255, 255, 0.17);
    transition: 0.35s all ease-in-out;
}



/* MAIN */

main {
    text-align: center;
}

section{
    margin: 2em 0;
    padding: 1em 1.5em;
}

.hr__titulo {
    padding-bottom: 2em;
}


/* HERO */

.hero {
    padding: 3em;
    
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
    
}

.hero__titulo {
    font-size: 2.5em;
    font-family: var(--font-title);
    color: white;
}

.hero hr {
    padding-bottom: 1em;
}

.hero__subtitulo {
    font-size: 1em;
}

.hero img {
    background: rgba(255, 255, 255, 0.337);
    width: 250px;
    height: 250px;   
}

/* SOBRE MIM */

.sobre-mim {
    background-color: var(--color-background-section);
}

.sobre-mim p {
    max-width: 600px;
    margin: 1em auto;
    line-height: 1.5em;
    text-align: justify;
}

/* TECK STACK */

.tech-stack__container {
    display: flex;
    flex-flow: row wrap;
    gap: 2em 0;
    align-items: center;
    justify-content: center;
    
    max-width: 700px;
    margin: auto;
}

.tech-stack__item {
    flex-basis: 300px;
    text-align: center;
    font-family: "Courier Plex", monospace;
    /* background-color: var(--color-background-muted); */
}

.tech-stack__item i {
    color: var(--color-text-muted);
    /* height: 100px; */
    font-size: 4.5em;
}

.tech-stack__item:hover, .tech-stack__item i:hover {
    transition: all 0.4s ease;
}
.tech-stack__item:hover {
    transform: scale(1.15);
}

.tech-stack__item i:hover {
    color: var(--color-logo-highlight);
}

.logo-js {
    background-color: var(--color-background-muted);
    padding-top: 8px;
    padding-left: 8px;
}

.projetos__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 3em 15%;
    
    max-width: 1200px;
    margin: auto;
    transition: all 0.3s;
}

.projetos__item {
    background-color: var(--color-background-muted);
    padding: 2em;
    flex-grow: 1;
    max-width: 400px;
    min-width: 300px;
}

.projetos__item p {
    padding: 1em;
    color: var(--color-text);
}

.projetos__item button {
    background-color: initial;
    padding: 0.25em 3em;
    border: 2px solid var(--color-button);
    border-radius: 5px;
}

.projetos__item button:hover {
    background-color: var(--color-button);
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 2px 0.5em rgba(255, 255, 255, 0.336);
}

.projetos__item a {
    text-decoration: none;
    color: var(--color-logo);
}

.projetos__item a:hover {
    color: white;
}


/* CONTATOS */

.contatos {
    background-color: var(--color-background-section);
    padding: 1em;
    margin-bottom: 0;
    text-align: center;
}

.contatos__container {
    text-align: center;
    width: 54px;
    margin: 1em auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
}

.contatos__item {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contatos__icone {
    color: var(--color-text-muted);
    height: 54px;   
    width: 54px; 
    border: 0.2px solid var(--color-text-muted);
    border-radius: 50%;
}

.contatos__icone:hover {
    color: white;
    border-color: white;
    background-color: var(--color-button);

    transform: scale(1.15);

    transition: all 0.2s ease;
}

.contatos__icone i {
    position: relative;
    top: 8px;
}


.contatos p {
    margin-top: 12px;
}

footer{
    margin-bottom: 0;
    background-color: var(--color-background-section);
    color: var(--color-text);
    text-align: center;
}

footer a:hover {
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}
