@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* "Courier Prime", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap'); /* "Teko", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap'); /* "Libre Franklin", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap'); /* "Chivo", sans-serif; */


/* configurações gerais */

/* figma: https://www.figma.com/design/gfH7LrLTsD0KU2LVMsHG7v/Main-Page?node-id=1-2&t=0DiuPUsIcKhWctPU-0 */

:root {
    --color-background-main: #1D0A2E;
    --color-background-alt: #3e1f65;
    --color-background-section: #161616;
    --color-background-muted: #0000004c;
    --color-text: #e1e1e1;
    --color-text-muted: #e1e1e1ae;
    --color-shadow: rgba(255, 255, 255, 0.244);
    --color-scrollbar: #858585;

    --color-logo: #510094;
    --color-logo-highlight: #8330c8;
    --font-title: "Chivo", sans-serif;
    --font-subtitle: "Teko", sans-serif;
    --font-text: "Libre Franklin", sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: var(--color-background-main);
    color: var(--color-text);
    font-family: var(--font-text);
}

i {
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: white;
}

hr {
    background-color: var(--color-text-muted);
    margin: auto;
}

.titulo-secao {
    font-family: var(--font-subtitle);
    color: var(--color-text);
    font-size: 2.5em;

    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1rem;
}

.container {
    margin: 6em auto 1em;
}

button {
    border: 2px solid var(--color-logo);
    border-radius: 5px;
}

.botao {
    background-color: unset;
    color: var(--color-logo);
}

.botao:hover {
    background-color: var(--color-logo);
    color: white;
}

.botao-alt {
    background-color: var(--color-logo);
    color: white;
}


/* HEADER */

header {
    background-color: black;
    /* width: 100%; */
    
    transition: 0.3s all;
}

header:hover {
    box-shadow: 0px 0px 1em var(--color-shadow);
    transition: 0.3s all;
}

#header__container {
    max-width: 992px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


/* MENU */

menu { 
    width: 90%;
    padding: 1em;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between; 
    gap: 1em;

    transition: 0.3s ease-in-out;
}

.header__logo {
    color: var(--color-logo);
    transition: 0.4s all ease-in-out;
}

.header__logo:hover {
    color: var(--color-logo-highlight);
    transition: 0.4s all ease-in-out;
}

.header__titulo {
    font-family: var(--font-title);
    font-size: 1.7em;
    color: var(--color-text);

    display: inline;
    transition: 0.4s all ease-in-out;
}

.header__titulo:hover {
    color: white;
    font-weight: 500;
    transition: 0.4s all ease-in-out;
}

.header__icone-menu {
    color: var(--color-text);
    background: none;
    border: none;
    width: 1em;

    transition: 0.2s all ease-in;
}

.header__icone-menu:hover {
    color: white;
    transform: scale(1.05);
    filter: drop-shadow(1px 1px 10px var(--color-shadow));
    cursor: pointer;
    transition: 0.2s all ease-in;
}  


/* NAV */

nav {
    font-size: 14px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.header__links-item {
    border-top: 1px solid var(--color-text);
    width: 100%;
    text-align: center;
    padding: 10px;
    transition: 0.3s all ease-out;
}

.header__links-item:hover {
    background-color: var(--color-background-alt);
    transform: scaleY(1.05);
    box-shadow: 0px 4px 1em rgba(255, 255, 255, 0.17);
    transition: 0.3s all ease-out;
}


/* MAIN */

main {
    text-align: center;
}

section{
    margin: 2em auto;
    padding: 1em 1.5em;
}


/* HERO */

.hero {
    padding: 3em 1em;
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
}

.hero__titulo {
    font-size: 2.2em;
    font-family: var(--font-title);
    color: white;
}

.hero hr {
    padding-bottom: 1em;
}

.hero__subtitulo {
    font-size: 1em;
}

.hero__imagem {
    width: 50%;
    max-width: 400px;
    min-width: 280px;
    transition: 0.5s all ease-out;
}

.hero__imagem:hover {
    filter: drop-shadow(0px 0px 4px var(--color-shadow));
    transition: 0.5s all ease-out;
}

.hero__links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero__botao {
    font-weight: 450;
    
    width: 100%;
    padding: 0.5em 3em;
    
    transition: all 0.35s ease;
}

.hero__botao:hover {
    box-shadow: 0px 0px 20px var(--color-shadow);
    transition: all 0.35s ease;
}


/* SOBRE MIM */

.sobre-mim {
    background-color: var(--color-background-section);
    padding: 2em;
}

#sobre-mim__container {
    max-width: 600px;
    margin: 2em auto;
    line-height: 1.5em;
    text-align: justify;
}


/* TECK STACK */

#tech-stack__container {
    display: flex;
    flex-flow: row wrap;
    gap: 5em 130px;
    align-items: center;
    justify-content: center;
    
    max-width: 800px;
}

.tech-stack__item {
    font-family: "Courier Plex", monospace;    
    text-align: center;

    margin: auto;
    
    transition: all 0.4s ease;
}

.tech-stack__item img {
    background-color: var(--color-background-muted);
    height: 150px;
    
    padding: 2em;
    margin-bottom: 0.5em;
    
    filter: grayscale(45%);
    transition: all 0.4s ease;
}

.tech-stack img:hover {
    transition: all 0.4s ease;
    filter: none;
    transform: scale(1.1);
} 

.tech-stack__texto {
    margin-top: 1em;
}


/* PROJETOS */

#projetos__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 3em 15%;
    
    max-width: 1200px;
    
    transition: all 0.3s;
}

.projetos__item {
    background-color: var(--color-background-muted);
   
    padding: 1.5em;
    flex-grow: 1;
    
    max-width: 400px;
    min-width: 300px;

    min-height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projetos__item h3 {
    font-size: 1.2em;
    font-weight: 700;
}

.projetos__item p {
    padding: 1em;
    color: var(--color-text);
}

.projetos__botao {
    padding: 0.25em 3em;
    transition: all 0.3s ease;
}

.projetos__botao:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 4px 2px 0.5em rgba(255, 255, 255, 0.244);
}


/* CONTATOS */

.contatos {
    background-color: var(--color-background-section);
    padding: 2em 2em 1em;
    margin: unset;
    text-align: center;
}

#contatos__container {  
    text-align: center;
    width: 54px;
   
    margin: 4em auto 2em;

    display: flex;
    flex-direction: column; 
    place-content: center;
    row-gap: 1.5em;
}

div.contatos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contatos__icone {
    color: var(--color-text-muted);
    
    height: 54px;   
    width: 54px;

    border: 0.2px solid var(--color-text-muted);
    border-radius: 50%;

    transition: all 0.15s ease;
}

.contatos__icone:hover {
    color: white;
    border-color: white;
    background-color: var(--color-logo);

    transform: scale(1.1);
    transition: all 0.15s ease;
}

.contatos__icone i {
    position: relative;
    top: 8px;
}

.contatos p {
    margin-top: 12px;
}


footer a:hover {
    color: white;
    font-weight: bold;
    transition: all 0.35s;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-text-muted);
}
 