@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* "IBM Plex Mono", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap'); /* "Teko", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap'); /* "Libre Franklin", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap'); /* "Chivo", sans-serif; */


/* configurações gerais */

/* figma: https://www.figma.com/design/gfH7LrLTsD0KU2LVMsHG7v/Main-Page?node-id=1-2&t=0DiuPUsIcKhWctPU-0 */

:root {
    --color-background-main: #1D0A2E;
    --color-background-section: #131313;
    --color-text: #e1e1e1;
    --color-background-alt: #3e1f65;

    --color-logo: #56009c;
    --color-logo-highlight: #6a00c1;
    --font-subtitle: "Teko", sans-serif;
    --font-text: "Libre Franklin", sans-serif; 
    --font-text-highlight: "Chivo", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: var(--color-background-main);
    color: var(--color-text);
    font-family: var(--font-text);
}

i {
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: white;
}

hr {
    width: 150px;
    margin: auto;
    padding-bottom: 2em;
}

.titulo-secao {
    font-family: var(--font-subtitle);
    font-size: 2.5em;
}

/* HEADER */

header {
    background-color: black;
    /* box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.145); */
    padding-top: 0.5em;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1em;
}

header:hover {
    box-shadow: 0px 4px 1em rgba(255, 255, 255, 0.101);
    transition: 0.3s all;
}

/* configurações para a logo e o ícone do menu */

menu { 
    width: 90%;
    margin-bottom: 0.5em; /* dimimuir ao ampliar o menu */
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    /* gap: 14px; */
}


.header__logo {
    color: var(--color-logo);
}

.header__logo:hover {
    color: var(--color-logo-highlight);
    transition: 0.3s all ease-in-out;
}

.header__titulo {
    font-family: var(--font-text-highlight);
    font-size: 1.7em;
    color: var(--color-text);

    display: inline;
}

.header__titulo:hover {
    color: white;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
}

.header__icone-menu {
    color: var(--color-text);
    background: none;
    border: none;
    width: 1em;
}

.header__icone-menu:hover {
    color: white;
    transform: scale(1.05);
    filter: drop-shadow(1px 1px 10px white);
    transition: 0.2s 0s all ease-in;
    
}  

/* configurações dos links para navegação na página */

nav {
    width: 100%;
    /* display: none; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.header__links-item {
    border-top: 1px solid var(--color-text);
    width: 100%;
    text-align: center;
    padding: 10px;
}

.header__links-item:hover {
    color: white;
    background-color: var(--color-background-alt);
    transform: scale(1.1);
    box-shadow: 0px 4px 1em rgba(255, 255, 255, 0.17);
    transition: 0.35s all ease-in-out;
}



/* MAIN */

main {
    text-align: center;
}

section{
    margin: 2em 0;
}


/* HERO */

.secao-hero {
    padding: 3em;
    
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
    
}

.secao-hero__titulo {
    font-size: 2.5em;
    font-family: var(--font-text-highlight);
    color: rgb(255, 255, 255);
}

.secao-hero hr {
    padding-bottom: 1em;
}

.secao-hero__subtitulo {
    font-size: 1em;
}

.secao-hero img {
    background: rgba(255, 255, 255, 0.337);
    width: 250px;
    height: 250px;   
}

.secao-sobre-mim {
    padding: 1em;
    background-color: var(--color-background-section);
}

.secao-tech-stack__item i {
    font-size: 3.5em;
}

/* FOOTER */

/* footer {

} */